body{
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
ul{
    list-style: none;
    display: flex;
    background-color: #a1a1a1;
}
li{
    margin-right: 10px;
}
a{
    display:block;
    text-transform: uppercase;
    color: white;
    text-decoration: none;
    padding: 10px 25px;
}
a:hover{
    background-color: white;
    color: #a1a1a1;
}